<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Wybierz potrawę</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
</div>

<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Szukaj" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<mat-dialog-content>
  <div class ="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa potrawy</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="portions">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Ilość porcji</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.portions}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="foodType" >
        <mat-header-cell *matHeaderCellDef mat-sort-header>Typ potrawy</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foodType}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onSelect(element)"><mat-icon>done</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Ładowanie danych...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Brak danych.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</mat-dialog-content>
