<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>{{patientServiceForm.controls['id'].value?"Edytuj pacjenta":"Nowy pacjent"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()"
      tabindex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
</div>

<mat-dialog-content>
  <form [formGroup]="patientServiceForm" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile>
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field>
              <input formControlName="name" matInput placeholder="Imię" autocomplete="off">
              <mat-error *ngIf="patientServiceForm.controls['name'].errors?.required">Uzupełnij imię</mat-error>
              <mat-error *ngIf="patientServiceForm.controls['name'].errors?.minlength">Minimum 3 znaki</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field>
              <input formControlName="surname" matInput placeholder="Nazwisko" autocomplete="off">
              <mat-error *ngIf="patientServiceForm.controls['surname'].errors?.required">Uzupełnij nazwisko</mat-error>
              <mat-error *ngIf="patientServiceForm.controls['surname'].errors?.minlength">Minimum 3 znaki</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field>
              <input formControlName="email" matInput placeholder="Adres e-mail" autocomplete="off">
              <mat-error *ngIf="patientServiceForm.controls['email'].errors?.email">Niepoprawny adres e-mail</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field>
              <input formControlName="numberPhone" matInput placeholder="Numer telefonu" autocomplete="off">
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="70px">
      <mat-grid-tile>
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field class="example-full-width">
              <mat-label>Data urodzenia</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthDate" autocomplete="off" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
              <mat-error *ngIf="patientServiceForm.controls['birthDate'].errors?.required">Wprowadź poprawną
                datę</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field>
              <input type="number" formControlName="bodyHeight" matInput placeholder="Wzrost (cm)" autocomplete="off">
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-radio-group matInput formControlName="sex">
              <mat-radio-button [value]="'FEMALE'">Kobieta</mat-radio-button>
              <mat-radio-button [value]="'MALE'">Mężczyzna</mat-radio-button>
              <mat-radio-button [value]="'OTHER'">Inna</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="240px">
      <mat-grid-tile>
        <div class="control-container">
          <mat-form-field>
            <div class="add-bottom-padding">
              <textarea rows="5" formControlName="currentLifestyleNote" matInput style="resize: none;"
                placeholder="Aktualny styl życia" autocomplete="off">
                </textarea>
            </div>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="control-container">
          <mat-form-field>
            <div class="add-bottom-padding">
              <textarea rows="5" formControlName="changedLifestyleNote" matInput style="resize: none;"
                placeholder="Zmieniony styl życia" autocomplete="off">
                </textarea>
            </div>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="control-container">
          <mat-form-field>
            <div class="add-bottom-padding">
              <textarea rows="5" formControlName="dietaryPurpose" matInput style="resize: none;"
                placeholder="Cel dietetyczny" autocomplete="off">
                </textarea>
            </div>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="80px">
      <mat-grid-tile>
        <div class="control-container">
          <p>Alergeny:</p>
          <div class="add-bottom-padding">
            <mat-select formControlName="allergens" multiple>
              <div>
                <mat-form-field class="search-input">
                  <input #allergenInput matInput placeholder="Szukaj..." autocomplete="off" />
                </mat-form-field>
              </div>
              <mat-option *ngFor="let allergen of allergens_list"
                [class.hide-option]="allergenInput.value !== '' && allergen.value.toLowerCase().indexOf(allergenInput.value.toLowerCase()) === -1"
                [value]="allergen.id">
                {{allergen.value}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <div class="control-container">
          <p>Odrzucone produkty</p>
          <div class="add-bottom-padding">
            <mat-select formControlName="unlikelyCategories" multiple>
              <div>
                <mat-form-field class="search-input">
                  <input #categoryInput matInput placeholder="Szukaj..." autocomplete="off" />
                </mat-form-field>
              </div>
              <mat-option *ngFor="let category of categories"
                [class.hide-option]="categoryInput.value !== '' && category.toLowerCase().indexOf(categoryInput.value.toLowerCase()) === -1"
                [value]="category">
                {{category}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile>
        <div class="control-container">
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit"
              [disabled]="patientServiceForm.invalid">Zapisz</button>
            <button mat-raised-button color="warn" type="button" (click)="onClear()">Wyczyść</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>