<div class ="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kategoria</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.category}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subcategory">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Podkategoria</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.subcategory}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa produktu</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="energyValue">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Wartość energetyczna (kcal)</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.energyValue}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="proteins" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>Białko (g)</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.proteins}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fats">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Tłuszcz (g)</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fats}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="carbohydrates">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Węglowodany (g)</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.carbohydrates}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="alergens">
      <mat-header-cell *matHeaderCellDef>Alergeny</mat-header-cell>
      <mat-cell *matCellDef="let element">"tmp"</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onEdit(element)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button (click)="onDelete(element.id)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
     <mat-footer-cell *matFooterCellDef colspan="6">
       Ładowanie danych...
     </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Brak danych.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
</div>
