

<div class="container">
  <mat-card class="patient-card">
    <mat-card-header>
      <mat-card-title>Imię i nazwisko: {{patientServiceForm.controls['name'].value}} {{patientServiceForm.controls['surname'].value}}</mat-card-title>
      <mat-card-subtitle>Adres e-mail: {{patientServiceForm.controls['email'].value}}</mat-card-subtitle>
      <mat-card-subtitle>Nr kontaktowy: {{patientServiceForm.controls['numberPhone'].value}}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <h3>Cel dietetyczny:</h3>
      <p>
        {{patientServiceForm.controls['dietaryPurpose'].value}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onEnterMeasurements()">Pomiary ciała</button>
    </mat-card-actions>
  </mat-card>
</div>

<app-menu-list></app-menu-list>
