<div *ngIf="dataLoaded">

  <app-week-header *ngIf="weekMealsData != null" [weekIndex]="weekIndex" [maxWeekIndex]="weekMealsData.length"
    (weekIndexChanged)="swapWeek($event)"></app-week-header>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="13%" *ngFor="let day of daysData">

      <div class="mat-card-header-day-name">
        <h2 style="white-space: pre-wrap;">{{translateDayType(day)}}</h2>

        <button mat-mini-fab matTooltip="Wyczyść dzień"
          (click)="clearDayMealButtonClick(day)"><mat-icon>layers_clear</mat-icon></button>
        <button mat-mini-fab matTooltip="Kopiuj dzień" (click)=picker.open()>
          <mat-icon>content_copy</mat-icon>
          <input [matDatepicker]="picker" #elementToFocus type="hidden" (dateChange)="copyDayMealDateSelected($event, day)"
            [min]="menuItemData.startDate" [max]="menuItemData.endDate" [value]="day">
          <mat-datepicker #picker="matDatepicker"></mat-datepicker>
        </button>
      </div>
    </div>

    <div fxFlex="9%">
      <div class="mat-card-header-day-name">
        <h2>Podsumowanie</h2>
      </div>
    </div>
  </div>

  <div *ngFor="let dishType of menuItemData.foodTypes">

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="13%" *ngFor="let day of daysData">
        <app-dish-type [typeName]="dishType"></app-dish-type>
      </div>
      <div fxFlex="9%">
        <app-dish-type [typeName]="dishType"></app-dish-type>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="13%" *ngFor="let day of daysData">
        <div *ngFor="let meal of weekMealsData[weekIndex][day]">
          <div *ngIf="meal.foodType === dishType">
            <app-dish-summary [menuItemData]="menuItemData" [date]="day" [mealItem]="meal"
              (refreshItems)="getMenuDetails()" (deleteMeal)="onDeleteMeal($event)"></app-dish-summary>
          </div>
        </div>
      </div>
      <div fxFlex="9%">
        <div class="container" fxLayoutGap="0.5%">
          <div class="summary">
            <p><b>Średnia:</b></p>
            <p>{{getFoodPropertiesWeekSummary(dishType, "energyValue", false)}}</p>
            <p>{{getFoodPropertiesWeekSummary(dishType, "proteins", false)}}</p>
            <p>{{getFoodPropertiesWeekSummary(dishType, "fats", false)}}</p>
            <p>{{getFoodPropertiesWeekSummary(dishType, "carbohydrates", false)}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="13%" *ngFor="let day of daysData">
        <app-dish-add [menuId]="menuId" [dayId]="" [menuItem]="menuItemData" [dishType]="dishType" [currentDate]="day"
          (refreshItems)="getMenuDetails()"></app-dish-add>
      </div>
      <div fxFlex="9%"></div>
    </div>

  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="13%" *ngFor="let day of daysData">
      <div class="summary">
        <p><b>Suma:</b></p>
        <p>{{getFoodPropertiesDaySummary(day, "energyValue")}}</p>
        <p>{{getFoodPropertiesDaySummary(day, "proteins")}}</p>
        <p>{{getFoodPropertiesDaySummary(day, "fats")}}</p>
        <p>{{getFoodPropertiesDaySummary(day, "carbohydrates")}}</p>
      </div>
    </div>

    <div fxFlex="9%">
      <div class="summary">
        <p><b>Średnia: </b></p>
        <p>{{getFoodPropertiesWeekSummary(dishType, "energyValue", true)}}</p>
        <p>{{getFoodPropertiesWeekSummary(dishType, "proteins", true)}}</p>
        <p>{{getFoodPropertiesWeekSummary(dishType, "fats", true)}}</p>
        <p>{{getFoodPropertiesWeekSummary(dishType, "carbohydrates", true)}}</p>
      </div>
    </div>
  </div>
</div>