.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  min-width: 100%;
  margin-bottom: 20px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-card-header-day-name {
  width: 100%;
  min-width: 100% !important;
  background: white;
  text-align: center;
}

.column {
  width: 25%;
}

.summary {
  background-color: white;
  margin: 10px;
}

button {
  margin-right: 15px;
  margin-bottom: 5px;
}