.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  min-width: 100%;
  margin-bottom: 20px;
}

.mat-card-header-day-name {
  width: 100%;
  min-width: 100% !important;
  background: white;
  text-align: center;
}

.column {
  width: 25%;
}
