<div *ngIf="dataLoaded">

  <app-week-header [weekIndex]="weekIndex" [maxWeekIndex]="menuItemData.weekMealList.length" (weekIndexChanged)="swapWeek($event)"></app-week-header>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="14%" *ngFor="let day of dayMealListItemData">

      <div class="mat-card-header-day-name">
        <h2>{{translateDayType(day.dayType)}}</h2>
      </div>

      <div *ngFor="let dishType of menuItemData.foodTypes">

        <app-dish-type [typeName]="dishType"></app-dish-type>

        <div *ngFor="let meal of mealListItemData">
          <div *ngIf="meal.foodType === dishType && meal.dayMealId === day.id">
            <app-dish-summary [menuItemData]="menuItemData" [dayItem]="day" [mealItem]="meal" [daysList]="dayMealListItemData" (refreshItems)="refreshMealList()"></app-dish-summary>
          </div>
        </div>

        <app-dish-add [menuId]="menuId" [dayId]="day.id" [menuItem]="menuItemData" [dishType]="dishType" (refreshItems)="refreshMealList()"></app-dish-add>
      </div>
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="14%" *ngFor="let day of dayMealListItemData">
      <div class ="summary">
        <p>{{getFoodPropertiesDaySummary(day, "energyValue")}}</p>
        <p>{{getFoodPropertiesDaySummary(day, "proteins")}}</p>
        <p>{{getFoodPropertiesDaySummary(day, "fats")}}</p>
        <p>{{getFoodPropertiesDaySummary(day, "carbohydrates")}}</p>
      </div>
    </div>
  </div>
</div>
