mat-card {
  border: 0 !important;
  border-radius: 0;
}

mat-card-actions {
  padding: 0;
  margin: 0 auto;
  box-shadow: none;
}

.mat-card-dish-add {
  margin-top: 5px;
  padding: 5px 0 0 5px;
  height: 55px;
  background: transparent;
  border-bottom-style: none;
}