/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #60a3bc !important;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karma", sans-serif
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* notifications */
snack-bar-container.success {
  background-color: #5cb86c;
  color: #fff;
}

snack-bar-container.warn {
  background-color: #f99157;
  color: #fff;
}