<div class="button-container">
  <button type="button" class="btn btn-secondary btn-lg" (click)="getProducts()">Find products</button>
</div>

<div>
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
</div>

<datalist id="category" name="category" >
  <option *ngFor= "let category of categories" [value]="category.category"></option>
</datalist>

<datalist id="subcategory" name="subcategory" >
  <option *ngFor= "let subcategory of subcategories" [value]="subcategory"></option>
</datalist>




<div class="form-group">
    <label>Kategoria
      <input id="selectedCategory" type="text" list="category" size="30"
             (change)="this.setCategory()" onfocus="this.value=''" (focusout)="checkCategoryValue()">
    </label>

  <label>Podkategoria
    <input id="selectedSubcategory" type="text" list="subcategory" size="30"
           (change)="this.setSubcategory()" onfocus="this.value=''" (focusout)="checkSubcategoryValue()">
  </label>

  <label>Nazwa produktu
    <input id="productName" type="text" size="30"
           (change)="this.getProductsByName()" (focusout)="checkSubcategoryValue()">
  </label>
</div>


<div class="container">
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th>Kategoria</th>
        <th>Podkategoria</th>
        <th>Nazwa produktu</th>
        <th>Wartość energetyczna (kcal)</th>
        <th>Białko (g)</th>
        <th>Tłuszcz (g)</th>
        <th>Węglowodany (g)</th>
        <th>Alergeny</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of products" >
        <td>{{product.category}}</td>
        <td>{{product.subcategory}}</td>
        <td>{{product.name}}</td>
        <td>{{product.energyValue}}</td>
        <td>{{product.proteins}}</td>
        <td>{{product.fats}}</td>
        <td>{{product.carbohydrates}}</td>
        <td>tmp</td>
        <td>
          <button mat-icon-button (click)="onEdit(product)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button (click)="onDelete(product.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
