<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Kopiowanie jadłospisu</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()"
      tabindex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
</div>

<mat-dialog-content>

  <form [formGroup]="menuServiceForm" class="normal-form" (submit)="onSubmit()">

    <mat-grid-list cols="1" class="recipe-grid-list-height" rowHeight="fit">
      <mat-grid-tile>
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field class="long-form-field">
              <mat-label>Pacjent</mat-label>
              <mat-select formControlName="patientId">
                <ng-container *ngFor="let patient of patientList">
                  <mat-option value="{{patient.id}}">{{patient.name}} {{patient.surname}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="70px">
      <mat-grid-tile colspan="2">
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field>
              <mat-label>Początek nowej diety</mat-label>
              <input #startDate matInput [matDatepicker]="picker" (click)="picker.open()" autocomplete="off" formControlName="startDate"
                readonly>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker startView="month"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <div class="control-container add-slider-padding">
          <mat-label>Czas trwania: {{menuLength()}}</mat-label>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" class="recipe-grid-list-height" rowHeight="50px">
      <mat-grid-tile colspan="3">
        <div class="control-container add-slider-padding">
          <mat-label>Limit kalorii: {{currentMenuItem.energyLimit}} kcal</mat-label>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <div class="control-container add-slider-padding">
          <mat-label>Białko: {{currentMenuItem.proteinsLimit}}g</mat-label>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <div class="control-container add-slider-padding">
          <mat-label>Tłuszcze: {{currentMenuItem.fatsLimit}}g</mat-label>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <div class="control-container add-slider-padding">
          <mat-label>Węglowodany: {{currentMenuItem.carbohydratesLimit}}g</mat-label>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" class="recipe-grid-list-height" rowHeight="fit">
      <mat-grid-tile colspan="3">
        <div class="control-container">
          <div class="add-bottom-padding">
            <mat-form-field>
              <mat-label>kcal</mat-label>
              <input type="number" matInput autocomplete="off" formControlName="energyLimit"
                (input)="limitsChanged()" min="0">
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <div class="control-container add-slider-padding">
          <mat-label>Białko: </mat-label>
          <mat-label #proteinsLimit>{{menuServiceForm.value.proteinsLimit}}</mat-label>
          <mat-label>g</mat-label>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <div class="control-container add-slider-padding">
          <mat-label>Tłuszcze: </mat-label>
          <mat-label>{{menuServiceForm.value.fatsLimit}}</mat-label>
          <mat-label>g</mat-label>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <div class="control-container add-slider-padding">
          <mat-label>Węglowodany: </mat-label>
          <mat-label>{{menuServiceForm.value.carbohydratesLimit}}</mat-label>
          <mat-label>g</mat-label>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="30px">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile colspan="2">
        <div class="control-container">
          <div class="button-row">
            <button mat-raised-button color="accent" type="submit" [disabled]="menuServiceForm.invalid">Kopiuj
              jadłospis</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>