<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Rejestracja</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>

<div class="container">
  <mat-dialog-content>
    <form [formGroup]="userForm" class="normal-form" (submit)="onSubmit()">
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Login</mat-label>
            <input formControlName="name" matInput autocomplete="off">
            <mat-error *ngIf="userForm.controls['name'].errors?.required">Uzupełnij nazwę użytkownika</mat-error>
            <mat-error *ngIf="userForm.controls['name'].errors?.minlength">Minimum 3 znaki</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Adres e-mail</mat-label>
            <input formControlName="email" matInput autocomplete="off">
            <mat-error *ngIf="userForm.controls['email'].errors?.required">Uzupełnij adres e-mail</mat-error>
            <mat-error *ngIf="userForm.controls['email'].errors?.email">Niepoprawny adres e-mail</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input formControlName="password" matInput [type]="'password'" autocomplete="off">
            <mat-error *ngIf="userForm.controls['password'].errors?.required">Uzupełnij hasło</mat-error>
            <mat-error *ngIf="userForm.controls['password'].errors?.minlength">Minimum 3 znaki</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Powtórz hasło</mat-label>
            <input formControlName="repeatPassword" matInput [type]="'password'"
              autocomplete="off">
            <mat-error *ngIf="userForm.controls['repeatPassword'].errors?.passwordMismatch">Wprowadzone hasła się
              różnią</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field class="long-form-field">
            <mat-label>Typ użytkownika</mat-label>
            <mat-select formControlName="userType">
              <ng-container *ngFor="let userType of ['ADMIN', 'DIETITIAN', 'PATIENT']">
                <mat-option value="{{userType}}">{{userType}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Zapisz</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-dialog-content>
</div>
