/* Filter controls */
.search-div {
  margin: 10px;
}

.search-form-field {
  width: 45%;
  margin-left: 5px;
  margin-right: 40px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.search-form-field div.mat-form-field-underline {
  display: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.search-form-field div.mat-form-field-infix {
  border-top: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}