<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img (click)="navigateToProducts()" src="../../assets/mainImages/product.jpg"
           width="300" height="200" alt="Products" style="width:100%">
      <h3>Produkty</h3>
    </div>
    <div class="w3-quarter">
      <img (click)="navigateToDishes()" src="../../assets/mainImages/dish.jpg" width="300" height="200" alt="Dish" style="width:100%">
      <h3>Potrawy</h3>
    </div>
    <div class="w3-quarter">
      <img (click)="navigateToPatients()" src="../../assets/mainImages/client.jpg" width="300" height="200" alt="Client" style="width:100%">
      <h3>Klienci</h3>
    </div>
    <div class="w3-quarter">
      <img src="../../assets/mainImages/settings.jpg" width="300" height="200" alt="Settings" style="width:100%">
      <h3>Ustawienia</h3>
    </div>
  </div>
</div>
