.div.container {
  margin: 0 30px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

form.normal-form {
  margin: 10px;
}

.control-container {
  width: 100%;
  padding: 5%;
}

.recipe-grid-list-height {
  height: 150px;
}

mat-form-field {
  width: 100%;
}

.control-container>* {
  width: 100%;
}

.add-bottom-padding {
  padding-bottom: 5px;
}

mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-row button {
  margin: 5px;
}

div mat-checkbox {
  padding-right: 10px;
}

.text-align-right {
  text-align: right;
}

.close-icon {
  display: flex;
  align-items: center;
}