<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>{{service.form.controls['id'].value?"Edytuj jadłospis":"Nowy jadłospis"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
</div>

<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="8" rowHeight="70px">
    <mat-grid-tile colspan="2">
      <div class="control-container">
        <div class="add-bottom-padding">
          <mat-form-field>
              <mat-select matInput placeholder="Typy posiłków*" formControlName="foodTypes" multiple>
                <ng-container *ngFor="let foodType of foodTypes">
                  <mat-option value="{{foodType.id}}">{{foodType.value}}</mat-option>
                </ng-container>
              </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div class="control-container">
        <div class="add-bottom-padding">
          <mat-form-field>
            <mat-label>Początek diety*</mat-label>
            <input matInput [matDatepickerFilter]="onlyMonday" [matDatepicker]="picker" formControlName="startDate" >
            <mat-datepicker-toggle matSuffix [for]="picker" >
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker startView="month"></mat-datepicker>
            <mat-error *ngIf="service.form.controls['startDate'].errors?.required">Wprowadź poprawny format daty</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div class="control-container">
        <div class="add-bottom-padding">
          <mat-form-field >
            <input type="number" min="1" max="8" step="1" formControlName="weekCount" matInput placeholder="Ilość tygodni*">
            <mat-error *ngIf="service.form.controls['weekCount'].errors?.required">Uzupełnij ilość</mat-error>
            <mat-error *ngIf="service.form.controls['weekCount'].errors?.min">Wartość zbyt mała</mat-error>
            <mat-error *ngIf="service.form.controls['weekCount'].errors?.max">Wartość zbyt duża</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="8" rowHeight="70px">
    <mat-grid-tile colspan="2">
      <div class="control-container">
        <div class="add-bottom-padding">
          <mat-form-field>
            <input type="number" min="1.1" max="2" step="0.01" formControlName="activityLevel" matInput placeholder="Poziom aktywności*">
            <mat-error *ngIf="service.form.controls['activityLevel'].errors?.required">Uzupełnij ilość</mat-error>
            <mat-error *ngIf="service.form.controls['activityLevel'].errors?.min">Wartość zbyt mała</mat-error>
            <mat-error *ngIf="service.form.controls['activityLevel'].errors?.max">Wartość zbyt duża</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div class="control-container">
        <div class="add-bottom-padding">
          <mat-form-field>
              <mat-select matInput placeholder="Data pomiaru" formControlName="measurementId">
                <ng-container *ngFor="let date of getMeasurementDates()">
                  <mat-option value="{{date.id}}">{{date.value}}</mat-option>
                </ng-container>
              </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile>
      <div class="control-container">
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Zapisz</button>
          <button mat-raised-button color="warn" type="button" (click)="onClear()">Wyczyść</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
