mat-card {
  border: 0 !important;
  border-radius: 0 !important;
}

.mat-card-dish {
  margin-top: 5px;
  background-color: white;
}

button {
  margin-right: 15px;
}

.mat-card-dish-as-recipe {
  margin-top: 5px;
  background-color: #E14DD7;
}

::ng-deep .langSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .langSelect.mat-select {
  display: inline;
}
