<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Wybierz produkt</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
</div>

<mat-grid-list cols="7" rowHeight="70px">
  <mat-grid-tile colspan="2">
    <div class="control-container">
      <div class="add-bottom-padding">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedCategory" placeholder="Kategoria" (valueChange)="onCategoryChange($event)">
            <ng-container *ngFor="let category of categories">
              <mat-option value="{{category}}">{{category}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div class="control-container">
      <div class="add-bottom-padding">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedSubcategory" placeholder="Podkategoria" (valueChange)="onSubcategoryChange($event)">
            <ng-container *ngFor="let subcategory of subcategories">
              <mat-option value="{{subcategory}}">{{subcategory}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Szukaj" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="control-container">
      <div class="add-bottom-padding">
        <button mat-raised-button (click)="onSearchButtonClick()">
          <mat-icon>search</mat-icon>Szukaj
        </button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-dialog-content>
  <div class ="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Kategoria</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.category}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="subcategory">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Podkategoria</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.subcategory}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa produktu</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="energyValue">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Wartość energetyczna (kcal)</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foodProperties.energyValue}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="proteins" >
        <mat-header-cell *matHeaderCellDef mat-sort-header>Białko (g)</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foodProperties.proteins}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fats">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Tłuszcz (g)</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foodProperties.fats}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="carbohydrates">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Węglowodany (g)</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foodProperties.carbohydrates}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="alergens">
        <mat-header-cell *matHeaderCellDef>Alergeny</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="element.starch">
            <img src="../../../assets/allergens/starch.jpg"
                 width="25" height="25" alt="Products" style="width:100%">
          </div>
          <div *ngIf="element.gluten">
            <img src="../../../assets/allergens/gluten.jpg"
                 width="25" height="25" alt="Products" style="width:100%">
          </div>
          <div *ngIf="element.lactose">
            <img src="../../../assets/allergens/lactose.jpg"
                 width="25" height="25" alt="Products" style="width:100%">
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onSelect(element)"><mat-icon>done</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Ładowanie danych...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Brak danych.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</mat-dialog-content>
